ul {
    list-style-type: none;
}
  
  img {
  margin-top: 15px;
  margin-bottom: 5px;
}

label {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.booksearch {
  margin-top: 15px;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0px;
  background-color: #fff ;
  text-align: center;
  list-style-type: none;
}
