.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    justify-content: space-between;
    color: black;
    background-size: cover;
    font-family: Roboto,sans-serif;
    position: relative;
    min-height: 180vh;
    padding-bottom: 0px;
}

.headers {
  font-weight: bold;
  padding-top: 10px;
}

.categories {
  position: relative;
  padding: 0rem;
  border: 2px solid #fff;
  color: black;
  text-align: center;
}

/* .wikipedia {
  position: relative;
  margin-bottom: 10px;
  background-color: lightgrey;
} */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0rem;
}

/* .Wikipedia {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.Books {
  position: relative;
  display: flex;
  flex-direction: column;
} */




