$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

* 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; 
    font-family: 'Cinzel', serif;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}
