.randomcontainer {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 95vh;
  }
  
  .randomquote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cinzel', serif;
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.75);;
    color: black; 
    padding: 0.5rem;
  }
  
  .button {
    position: relative;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 600px) {
    .randomcontainer {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-attachment: scroll
    }
  
    .random-quote {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Cinzel', serif;
      font-size: 1.6rem;
      background-color: rgba(255, 255, 255, 0.75);;
      color: black; 
    }
  }