
.headers {
  font-weight: bold;
  padding-top: 10px;
}

.randomcontainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.Main {
  margin-top: 100px;
}

.random-quote {
  margin-top: 400px;
  color: #fff;
  font-size: x-large;
  position: fixed;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

.random-button {
  margin-top: 650px;
  color: #fff;
  font-size: x-large;
  position: fixed;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 80%;
}

/* .quote-btn {
  margin-top: 600px;
  height: 30px;
  width: 170px;
  position: fixed;
  font-size: small;
  justify-content: center;
} */

.categories {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 2px solid #fff;
  color: black;
  text-align: center;
}

.wikipedia {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0px;
  background-color: lightgrey;
  text-align: center;
}

.wikisearch {
  padding-top: 10px;
  left: 50px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 0rem;
}




