.navbar {
  max-height: 80px;
  display:flex;
}

.logo {
  margin-top: 0;
}

.headers {
  font-weight: bold;
  padding-top: 10px;
}

.randomcontainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.randomquote {
  padding-top: 350px;
  padding-left: 50px;
  padding-right: 50px;
  color: #ffffff;
  position: relative;
}

.quotebutton {
  color: black;
  height: 50px;
  position: absolute;
  top: 800px;
  width: 100px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Enlightenment Background */
/* BEGINS */

.enlightenmentcontainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-position: calc(5%) calc(5%); 
}

/* Enlightenment Background */
/* ENDS */

/* Artist Background */
/* BEGINS */

.artistscontainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

@media only screen and (min-width: 1100px) {

.artistscontainer {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: calc(20%) calc(20%); 
  display: flex;
  justify-content: center;
  min-height: 100vh;
  }
}

/* Artist Background */
/* ENDS */

/* .Main {
  margin-top: 100px;
} */

/* .random-quote {
  color: #fff;
  font-size: xx-large;
  font-weight: bolder;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 80%;
} */

/* .random-button {
  margin-top: 650px;
  color: #fff;
  font-size: medium;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
} */

.categories {
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 2px solid #fff;
  color: black;
  text-align: center;
}

.wikipedia {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0px;
  background-color: lightgrey;
  text-align: center;
}

.wikisearch {
  padding-top: 10px;
  left: 50px;
}

.booksearch {
  margin-top: 15px;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0px;
  background-color: #fff ;
  text-align: center;
  list-style-type: none;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 0rem;
}




